table.wallets.capabilities.matrix tbody tr:hover { background-color: #eee; }
table.wallets.capabilities.matrix tbody{ text-align: center; }

body.wallets_page_wallets-menu-adapters td.coin.column-coin img {
	width: 32px;
	vertical-align: middle;
}

body.wallets_page_wallets-menu-adapters td.coin.column-coin span {
	line-height: 32px;
	vertical-align: middle;
}

body.toplevel_page_wallets-menu-wallets #wpbody-content .card {
	 float: left;
	 margin: 10px 10px 10px 0;
	 width: 30%;
	 min-width: 520px;
}

#balanceboxitemdiv .tabs-panel-active .menu-item-object-id{
	visibility:hidden;
}