.dashed-slug-wallets {
	opacity: 0.5;
	position: relative;

	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

.dashed-slug-wallets.wallets-ready {
	opacity: 1;
}

.dashed-slug-wallets .no-coins-message {
	display: none;
}

.dashed-slug-wallets.wallets-ready .no-coins-message {
	display: inherit;
}

.dashed-slug-wallets .wallets-reload-button {
	float: right;
	width: 32px;
	height: 32px;
	cursor: pointer;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	-webkit-animation: spin 4s linear infinite;
	-moz-animation: spin 4s linear infinite;
	animation: spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.dashed-slug-wallets.wallets-ready .wallets-reload-button {
	-webkit-animation: none;
	-moz-animation: none;
	animation: none;
}

.dashed-slug-wallets label {
	margin-top: 1em;
	display: inline-block;
	width: 100%;
}

.dashed-slug-wallets label input,
.dashed-slug-wallets label select {
	display: inline-block;
	width: 100%;
}

.dashed-slug-wallets.rates .rate {
	text-align: right;
	white-space: nowrap;
}

.dashed-slug-wallets.rates tbody .rate {
	font-family: monospace;
}

.dashed-slug-wallets table,
.dashed-slug-wallets table tr,
.dashed-slug-wallets table td {
	border: none;
	border-collapse: collapse;
}

.dashed-slug-wallets table col {
	width: 16.66%;
}

.dashed-slug-wallets table td {
	vertical-align: top;
}

.dashed-slug-wallets.withdraw table td,
.dashed-slug-wallets.move table td,
.dashed-slug-wallets.transactions table td {
	vertical-align: bottom;
}

.dashed-slug-wallets table .buttons-row {
	text-align: center;
}

.dashed-slug-wallets .base-amount,
.dashed-slug-wallets .fiat-amount {
	font-size: smaller;
	text-align: right;
	font-style: oblique;
	list-style: none;
	display: list-item;
	color: gray;
	padding: 5px;
}

.dashed-slug-wallets .fiat-amount:after {
	content: "\00A0";
}

.dashed-slug-wallets.transactions table {
	font-size: smaller;
	overflow-x: scroll;
	display: block;
	color: black;
}

.dashed-slug-wallets.transactions table tr,
.dashed-slug-wallets.transactions-rows li {
	background-color: white;
	padding: 1em;
}

.dashed-slug-wallets.transactions table tr.unconfirmed,
.dashed-slug-wallets.transactions-rows li.unconfirmed  {
	color: gray;
}

.dashed-slug-wallets.transactions table tr.pending,
.dashed-slug-wallets.transactions-rows li.pending {
}

.dashed-slug-wallets.transactions table tr.done,
.dashed-slug-wallets.transactions-rows li.done {
	background-color: #58b858;
}

.dashed-slug-wallets.transactions table tr.failed,
.dashed-slug-wallets.transactions-rows li.failed {
	background-color: #d85848;
}

.dashed-slug-wallets.transactions-rows ul {
	list-style: none;
}

.dashed-slug-wallets.transactions-rows .label {
	font-weight: bold;
}

.dashed-slug-wallets.transactions-rows .label span {
	font-weight: normal;
}

.dashed-slug-wallets.transactions-rows li {
	margin-bottom: 1em;
	border-bottom: 1px solid;
}

.dashed-slug-wallets.transactions-rows li:last-child {
	margin-bottom: 0;
	border-bottom: none;
}

.dashed-slug-wallets.transactions-rows li .tags,
.dashed-slug-wallets.transactions-rows li .retries {
	clear: right;
}

.dashed-slug-wallets.transactions-rows li .type,
.dashed-slug-wallets.transactions-rows li .status,
.dashed-slug-wallets.transactions-rows li .from.user,
.dashed-slug-wallets.transactions-rows li .from-user {
	float: left;
	clear: both;
	font-size: smaller;
}

.dashed-slug-wallets.transactions-rows li .time,
.dashed-slug-wallets.transactions-rows li .tags,
.dashed-slug-wallets.transactions-rows li .confirmations,
.dashed-slug-wallets.transactions-rows li .retries,
.dashed-slug-wallets.transactions-rows li .to.user,
.dashed-slug-wallets.transactions-rows li .to-user {
	float: right;
	font-size: smaller;
}

.dashed-slug-wallets.transactions-rows li .arrow {
	text-align: center;
}

.dashed-slug-wallets.transactions-rows li .amount {
	margin-top: 1em;
	clear: both;
	font-size: xx-large;
	text-align: center;
	width: 100%;
}

.dashed-slug-wallets.transactions-rows li .fee {
	text-align: center;
	width: 100%;
}

.dashed-slug-wallets.transactions-rows li .txid {
	font-size: x-small;
	text-align: center;
	width: 100%;
	font-family: monospace;
	margin-bottom: 1em;
}

.dashed-slug-wallets.transactions-rows li .comment {
	clear: both;
	text-align: left;
	font-family: cursive;
}

.dashed-slug-wallets.transactions-rows li .comment::before {
	content: "\201C"
}

.dashed-slug-wallets.transactions-rows li .comment::after {
	content: "\201D"
}

.dashed-slug-wallets .icon img {
	width: 100%;
	max-width: none;
}

.dashed-slug-wallets tbody td.icon {
	max-width: none;
}

.dashed-slug-wallets.deposit.deposit-list tbody td.balance span {
	white-space: nowrap;
}

.dashed-slug-wallets.deposit .qrcode {
	text-align: center;
	margin: 1em auto;
}

.dashed-slug-wallets.deposit input[type=submit] {
	width: 100%;
}

.dashed-slug-wallets label .validationMessage {
	display:none;
}

.dashed-slug-wallets .validationMessage {
	font-size: smaller;
	float: left;
	display: inline-block;
	color: red;
	border: 1px solid red;
	padding: 4px;
	margin: 0 auto;
}

.dashed-slug-wallets label.coin select {
	background-repeat: no-repeat;
	background-size: auto 90%;
	background-position: calc(100% - 20px) 50%;
}

.menu-item .wallets-menu-icon {
	background-repeat: no-repeat !important;
	background-size: 1.5em 1.5em !important;
	background-position: calc(100% - 20px) 50% !important;
}

.dashed-slug-wallets .wallets-clipboard-copy {
	width: auto;
	float: right;
	cursor: pointer;
	font-size: larger;
}

.dashed-slug-wallets .wallets-clipboard-copy + input {
	clear: right;
}