.plugins tr[data-plugin^="wallets"] .plugin-title img {
	float: none;
}

.toplevel_page_wallets_docs ul li {
	list-style-type: disc;
}

.toplevel_page_wallets_docs main .wallets-book {
	display: inline-block;
	margin: 1em;
	height: 30em;
	overflow-y: scroll;
}

.toplevel_page_wallets_docs main ol,
.toplevel_page_wallets_docs main ul {
	padding: revert;
}

.toplevel_page_wallets_docs blockquote {
	background-color:lightyellow;
}

.toplevel_page_wallets_docs blockquote > * {
	padding: 0.5em 1em;
	margin: 0;
}

.toplevel_page_wallets_docs blockquote > p::before {
	content: "\26A0\20";
}

.wallets_multiselect_option {
	width:8em;
	background-color:lightgrey;
	padding:0.5em;
	margin:0.5em;
	border-radius:0.5em;
	display:inline-block;
}

.wallets_meta_box_label > span {
	display: block;
	margin-top: 2em;
}
.wallets_meta_box_label:first-child > span {
	margin-top: 0;
}

.wallets-docs.button:before {
	content: "\1F4D5";
}


.wp-pointer nav.wallets-pointer-buttons {
	text-align:center;
    padding: 0 20px;
    text-align: center;
}

.wp-pointer nav.wallets-pointer-buttons .button {
	margin: 0.25em;
}


td.column-tx_amount,
td.column-currency_hot_balance
td.column-currency_total_balance {
	text-align: right;
	font-family: "Courier New", Courier, monospace;
}

#balanceboxitemdiv .tabs-panel-active .menu-item-object-id{
	visibility:hidden;
}

body.post-type-wallets_wallet select,
body.post-type-wallets_wallet input[type=text],
body.post-type-wallets_wallet input[type=password],
body.post-type-wallets_wallet textarea {
	min-width: 50%;
}

body.post-type-wallets_wallet textarea {
	min-height: 8em;
}

body.tools_page_wallets-bank-fiat-deposits select,
body.tools_page_wallets-bank-fiat-deposits input[type=text],
body.tools_page_wallets-bank-fiat-deposits input[type=number],
body.tools_page_wallets-bank-fiat-deposits textarea {
	min-width: 75%;
}

body.tools_page_wallets-bank-fiat-deposits textarea {
	min-height: 8em;
}

#wallets-transaction-address-link {
	text-align: center;
}

#wallets-currency-explorer-uri-add,
#wallets-currency-explorer-uri-tx {
	width: 100%;
}

.wallets.capabilities.matrix td {
	text-align: center;
}

.wallets.capabilities.matrix tbody th {
	text-align: right;
}

.wallets.capabilities.matrix {
	display: block;
	overflow-x: scroll;
	white-space: nowrap;
}

.wallets.capabilities.matrix td,
.wallets.capabilities.matrix td * {
	cursor: crosshair;
}

.wallets.capabilities.matrix tr:hover {
	background-color: lightgray;
}

.toplevel_page_wallets_docs #wpfooter,
.settings_page_wallets_settings_page #wpfooter,
.post-type-wallets_wallet #wpfooter,
.post-type-wallets_currency #wpfooter,
.post-type-wallets_tx #wpfooter,
.post-type-wallets_address #wpfooter {
	pointer-events: none;
	position: inherit;
}

.toplevel_page_wallets_docs #wpbody-content,
.settings_page_wallets_settings_page #wpbody-content,
.post-type-wallets_wallet #wpbody-content,
.post-type-wallets_currency #wpbody-content,
.post-type-wallets_tx #wpbody-content,
.post-type-wallets_address #wpbody-content {
	padding-bottom: 1em;
}

.wallets-footer-message {
	pointer-events: all;
	text-align: center;
	margin: 0 auto;
}

.wallets-footer-message .wallets.logo {
	float:left;
	margin: 0.4em 1em 0.4em 0;
}

#wallets-transaction-tag-cloud {
	width: 100%;
	min-height: 10em;
}

#wallets-dashboard-widget-debug th {
	text-align: right;
}

#profile-page .wallets-link.button {
	width: 100%;
	max-width: 20em;
	text-align: center;
}

.fixer-currency {
	width:24em;
	display:inline-block;
}

.fixer-currency:hover {
	background-color: gray;
}

.fixer-currency strong {
	font-size:larger;
	text-align:center;
	width:4em;
	display:inline-block;
}
