.dashed-slug-wallets {
	position: relative;

	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

.dashed-slug-wallets.textonly {
	opacity: 1;
	border: none;
	border-radius: 0;
	padding: 0;
	color: inherit;
	font-size: inherit;
	box-shadow: none;
}

.dashed-slug-wallets.wallets-ready {
	opacity: 1;
}

.dashed-slug-wallets .wallets-reload-button {
	float: right;
	width: 32px;
	height: 32px;
	cursor: pointer;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	-webkit-animation: spin 4s linear infinite;
	-moz-animation: spin 4s linear infinite;
	animation: spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.dashed-slug-wallets.wallets-ready .wallets-reload-button {
	-webkit-animation: none;
	-moz-animation: none;
	animation: none;
}

@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0.25; }
	100% { opacity: 1; }
}

.wallets-submit-active {
	animation: blink 2s infinite;
}

.dashed-slug-wallets .walletstatus.online {
	color: lightgreen;
}

.dashed-slug-wallets .walletstatus.offline {
	color: lightcoral;
}

.dashed-slug-wallets label {
	margin-top: 1em;
	display: inline-block;
	width: 100%;
}

.dashed-slug-wallets label input,
.dashed-slug-wallets label select {
	display: inline-block;
	width: 100%;
}

.dashed-slug-wallets .base-amount,
.dashed-slug-wallets .vs-amount {
	font-size: smaller;
	text-align: right;
	font-style: oblique;
	list-style: none;
	display: list-item;
	color: gray;
	padding: 5px;
	user-select: none;
	cursor: pointer;
	white-space: nowrap;
}

.dashed-slug-wallets .vs-amount:before {
	content: "\2248\00A0";
}

.dashed-slug-wallets label.coin select {
	background-repeat: no-repeat;
	background-size: auto 90%;
	background-position: calc(100% - 20px) 50%;
}

.dashed-slug-wallets label.amount {
	position: relative;
}

.dashed-slug-wallets label.amount .max-button {
	position: absolute;
	top: 0;
	right: 0;
	font-size: x-small;
}

.menu-item .wallets-menu-icon {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
}

