.dashed-slug-wallets {
	padding: 1em;
	border: 1px solid black;
}

.dashed-slug-wallets label {
	margin-top: 1em;
	display: inline-block;
	width: 100%;
}

.dashed-slug-wallets label input,
.dashed-slug-wallets label select {
	display: inline-block;
	width: 100%;
}

.dashed-slug-wallets.transactions table {
	font-size: smaller;
	overflow-x: scroll;
	display: block;
	color: black;
}

.dashed-slug-wallets.transactions table tr {
	background-color: white;
}
.dashed-slug-wallets.transactions table .unconfirmed {
	color: gray;
}

.dashed-slug-wallets.transactions table .pending {
}

.dashed-slug-wallets.transactions table .done {
	background-color: #58b858;
}

.dashed-slug-wallets.transactions table .failed {
	background-color: #d85848;
}

.dashed-slug-wallets.deposit .qrcode {
	text-align: center;
}
